* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* =========================Start of dropdown CSS */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  z-index: 1;
}

.dropdown-content a {
  width: 242px;
  display: flex;
  color: #2b2b2b;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: white;
  background-color: #2d80e5;
}

/* =================================== End of dropdown CSS */

#site-header {
  width: 100%;
  background: #eef1f4;
  height: fit-content;
  display: flex;
  justify-content: center;
}

nav {
  width: 95%;
  height: fit-content;
  /* left: 0px;
  top: 0px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav-links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 16px;
  text-decoration: none;
}

#nav-links a:hover {
  color: white;
  text-shadow: 2px 2px 10px black;
}

#nav-btn {
  display: flex;
  flex: row;
}

#nav-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 16px;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 80px;
  height: 20px;
  /* left: 950px; */
  /* top: 28px; */
  background: #eef1f4;
  border: 1px solid #2d80e5;
  color: #2d80e5;
  border-radius: 6px;
}

#login:hover {
  background: rgba(0, 0, 0, 0.15);
  color: white;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 80px;
  height: 20px;
  /* left: 1085px; */
  /* top: 28px; */
  background: #2d80e5;
  color: white;
  border-radius: 6px;
}

#register:hover {
  background: rgba(21, 142, 255, 0.5);
}

.btn {
  background: rgba(21, 142, 255, 1);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}

/* end of nav-bar */

/* start of main */

#main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#ist-page1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

#blue-text {
  color: blue;
}

#h1-ist {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #091a2e;
}

#p-ist {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #2b2b2b;
  margin-bottom: 24px;
}

#docu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 261px;
  height: 55px;
  background: #2d80e5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#second-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

#second-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#second-page-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #0f2b4c;
  margin-top: 79px;
}

#second-page-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 32px;
}

#second-page-text {
  width: 100%;
}

.all-platforms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.platform {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  width: 300px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.platform p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
  margin-left: 20px;
}

#third-page-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #d5e6fa;
}

#third-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#third-page h1 {
  margin-top: 68px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #0f2b4c;
}

#third-page-frames-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frames-3rd-page {
  padding: 24px;
  margin: 26px 0 76px 0;
  width: 300px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frames-3rd-page p {
  padding: 10px 0 10px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #0f2b4c;
}

.frames-3rd-page label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #555555;
}

#fourth-page-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background: #d5e6fa;
  padding-bottom: 20px;
}

#fourth-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding-bottom: 20px;
}

#fourth-page-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#fourth-page-content h2 {
  margin: 60px 0 6px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #0f2b4c;
}

#fourth-page-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
}

#lower-fourth-page {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lower-left {
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}

#round-1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #2d80e5;
}

#round-2,
#round-3 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #2d80e5;
}

#table {
  width: 100%;
}

#table h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121212;
}

#table p {
  padding-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
}

.genPol {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 169px;
  height: 35px;
  background: #2d80e5;
  border-radius: 6px;
}

#fifth-page-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fifth-page-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fifth-page-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: justify;
  color: #0f2b4c;
}

#gen-doc-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 254px;
  height: 50px;
  background: #2d80e5;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

/* footer styling */

footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 250px;
  top: 79px;
  background: #1e5599;
  box-sizing: border-box;
  padding: 20px 28px;
  border-radius: 0px;
}

#footer-container {
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#top-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-links {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-img {
  position: relative;
}

#top-foot-1 p {
  /* height: 24px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
}

#top-foot-1 div {
  /* height: 21px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #e6e6e6;
  flex: none;
  flex-grow: 0;
}

#top-foot-2 p {
  /* height: 24px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
}

#top-foot-2 a {
  /* height: 21px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  text-align: center;
  color: #e6e6e6;
  flex: none;
  flex-grow: 0;
}

#top-foot-3 p {
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
}

#top-foot-3 a {
  /* height: 21px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  color: #e6e6e6;
  flex: none;
  flex-grow: 0;
}

#bottom-footer {
  width: 100%;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-link a {
  margin-right: 20px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #e6e6e6;
  flex: none;
  flex-grow: 0;
}

#copyright {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

#outer-footer a:hover {
  color: #2b2b2b;
}

@media screen and (max-width: 600px) {
  #ist-page1 {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  #header-img {
    width: 450px;
    height: 400px;
  }

  .all-platforms {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .platform {
    margin-bottom: 20px;
  }

  #third-page-frames-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  #lower-fourth-page {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #fifth-page-content {
    width: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  #nav-btn {
    margin-top: 20px;
  }

  #top-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #footer-links {
    width: 100%;
  }

  #footer-bottom {
    width: 100%;
  }

  #copyright {
    width: 50%;
  }

  #faq-section table {
    width: 90%;
  }
}
